/* components/copybtn/copybtn.wxss */
.footerBtn {
    width: 660rpx;
    height: 80rpx;
    border-radius: 38rpx;
    color:#fff;
    font-size: 32rpx;
    font-family: Microsoft Yahei;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80rpx auto 20rpx;
}