.container {
    .cardWarp {
        width: 324rpx;
        height: 324rpx;
        line-height: 40rpx;
        border-radius: 28rpx;
        font-size: 28rpx;
        text-align: center;
        box-shadow: 0rpx 6rpx 14rpx 4rpx rgba(0, 0, 0, 0.4);
        font-family: Arial;
        border: 1px solid rgba(187, 187, 187, 100);
    }

    .cardTitle {
        margin: 0 auto;
        margin-top: 40rpx;
        width: 224rpx;
        height: 80rpx;
        font-size: 56rpx;
        font-family: PingFangSC-semiBold;
    }

    .cardText {
        margin: 0 auto;
        width: 196rpx;
        height: 40rpx;
        font-size: 28rpx;
        font-family: PingFangSC-regular;
    }

    .imageWarp {
        width: 100%;
        display: flex;
        justify-content: space-around;
        .arrowLeft {
            margin-top: 58rpx;
            margin-left: 40rpx;
            width: 58rpx;
            height: 54rpx;
            border-radius: 50%;
            box-shadow: 2rpx 6rpx 20rpx 2rpx rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                width: 42rpx;
                height: 42rpx;
            }
        }
    }
}