/* pages/subPages/my/my.wxss */
.container {
    .myTop {
        background-color: #fbc02d;
        height: 20vh;

        .topWarp {
            color: #fff;

            .picture {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin: 20px 30px;
            }

            .userInfo {
                height: 10vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;

                .username {
                    font-size: 16px;
                }
            }
        }
    }

    .myOrderWarp {
        margin: 16px auto;
        width: 360px;
        padding: 10px;
        // height: 132px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 100);
        color: rgba(16, 16, 16, 100);
        font-size: 14px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(187, 187, 187, 100);
        box-sizing: border-box;

        .myOrder {
            border-bottom: 1px solid #F1F1F1;
            padding-bottom: 12px;
        }

        // .myOrderIcon {
        //     display: flex;
        //     justify-content: space-around;
        //     align-items: center;
        //     .iconWarp {
        //         position: relative;
        //         display: flex;
        //         flex-direction: column;
        //         align-items: center;
        //         justify-content: space-between;
        //         margin: 20px 10px 10px;
        //         padding-right: 10px;
        //         .icon {
        //             font-size: 28px;
        //             color: #fbc02d;

        //         }
        //         &::after{
        //             content: "";
        //             height: 20px;
        //             border-right: 1px solid #ccc;
        //             position: absolute;
        //             top: 50%;
        //             transform: translateY(-50%);
        //             right: -10px;
        //         }
        //         &:last-child::after {
        //             border: none;
        //         }
        //     }
        // }
    }

    .skipPages {
        margin: 10px auto;
        width: 360px;
        line-height: 20px;
        border-radius: 11px 11px 11px 11px;
        background-color: rgba(255, 255, 255, 100);
        text-align: center;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(187, 187, 187, 100);
        padding: 0 10px 10px;
        box-sizing: border-box;
    }
}