.flex_c_c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_l_c {
    display: flex;
    justify-content: left;
    align-items: center;
}

.flex_b_c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_a_c {
    display: flex;
    justify-content: space-around;
    align-items: center;
}